/* Selector Universal */
*{
    padding: 0;
    margin: 0;
    }
    #contenedor { 
        width: 900px;
        height: 1000px;
        background-color: bisque;
        font-family: Cambria;
    }
    
    #cabecera {
        
        height: 15%;
        background-color: forestgreen;
        font-family: Cambria;
        /*margin: 0.5em auto; /* es relativo al contenedor principal*/
        
    }
    
    #barraNavegacion {
        height: 5%;
        width: 0 auto;
        background-color:   #57bd9e;
        margin: 0.5em auto;
        font-size: medium;
        font-family: Cambria;
        
    }
    
    #Seccion { /*Reseña*/
        height: 70%;
        width: 90%;
        background-color: white;
       margin: 0.3 em;
       margin-left: 0.3em;
       font-family: Cambria;
    }

        #piedePagina {
        height: 10%;
        width: 0 auto;
        background-color: red;
        border-radius: 1em;
        font-family: Cambria;
    } 
    
    /* Selector de Class */
    .Encabezado {
        text-align: center;
        color: bisque;
        font-family: Cambria;
    }

    .barraNavegacion{
        text-align: center;
        /* color: #ab0d2f; */
        color:  #9a5833 ;
        font-family: Cambria;
    }


    .pieNavegacion{
        text-align: center;
        font-family: Cambria;
        height: 10%;
        width: 0 auto;
        background-color: red;
        border-radius: 1em;
        
    }

    .texto {/*RESEÑA*/
        text-align: justify;
        font-family: Cambria;
        font-size: medium;
        border: 3px solid orange ;
        padding: 0.5em;
        margin: 0.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    
    .texto2 {/*NOMBRES*/
        text-align: center;
        font-family: Cambria;
        /* font-size: medium; */
        /* color:  #ab0d2f ; */
        color:  #9a5833 ;
    
    }

    /* Selector de Etiqueta HTML */
    ul{
        text-align: center;
    }
    
    li{
        display: inline;
        padding-left: 6px;
        padding-right: 6px;
        text-align: center;
    }

    img{
        width: 100px;
        height: 100px;
        border: 1px solid dodgerblue;
        margin-left: 5px;
        border-radius: 5px;
        padding: 5px;
        display: inline-flex;
        
    }